[2022-09-27 07:40] aswinikalyan30 opened #20 "Feature to copy emoji to clipboard"
Upon receiving the results, user can copy the emoji onto their clipboard to use it elsewhere

[2022-09-27 08:10] aditya-singh9 commented on #20
I guess user can copy the emojis. When user clicks on the emoji that specific emoji gets copied in your clipboard and  there is a message saying "Copied" on the emoji box.

If there is an issue with the copying can you please elaborate in comments and solve the issue. I will assign it to you.

[2022-09-27 08:14] aswinikalyan30 commented on #20
oh okay!

[2022-09-27 08:14] #20 closed

[2022-09-28 11:30] heysouravv opened #21 "When nothing is searched, show emojis."

[2022-09-28 11:31] heysouravv opened #22 "Missing the contribution header."

[2022-09-28 11:51] aditya-singh9 commented on #21
Can you please elaborate the issue

[2022-09-28 13:20] KaifKhan7393 commented on #21
It is good if we add some animation on emoji card when we hover it like scaling the card size

[2022-09-28 13:26] aditya-singh9 opened #23 "It is good if we add some animation on emoji card when we hover it like scaling the card size"
It is good if we add some animation on emoji card when we hover it like scaling the card size

_Originally posted by @KaifKhan7393 in https://github.com/aditya-singh9/kekfinder/issues/21#issuecomment-1260904902_

[2022-09-28 13:29] aditya-singh9 commented on #23
Just keep in mind that the scaling of the card does not affect the other cards.

If you want to work on this then let me know so that i assign it to you

[2022-09-28 13:32] stubborn-1508 commented on #23
I would like to work on this issue. Please assign it to me.

[2022-09-28 20:32] ArunBohra12 opened #24 "Search Bar enhancements"
- Would it be nice to make the search input sticky?
**Reason -** When users search for an emoji and scroll to the bottom, they have to scroll up by clicking the button (in the light mode it seems that there is no back-to-top button)
- For UX, should we add a keyboard shortcut like `/` (similar to google or youtube) which focuses back on the search input?

[2022-09-29 02:04] aditya-singh9 commented on #24
Would you like to qork on this? @ArunBohra12

[2022-09-29 03:59] SandeshGC commented on #24
Hey, I am new to open source and it's my first time in hacktoberfest. I would like to work on this issue.

[2022-09-29 04:18] ArunBohra12 commented on #24
Sure, I would work on this. Please assign it to me

[2022-09-29 11:35] Substancia commented on #21
Is this still available? Else I am interested.

[2022-09-29 11:43] aditya-singh9 commented on #21
I think he is not available.
I am assiging it to you.

Can you please elaborate a little about what you intend to add or change.

[2022-09-29 13:28] kunaaal13 opened #25 "Show all emojis when nothing is searched"
Should we show all emojis available when no search is done?? That would be a great enhancement

[2022-09-29 14:02] kunaaal13 commented on #25
will it be included in hacktoberfest? i'll. surely love to work on this

[2022-09-29 14:09] aditya-singh9 commented on #25
Yes, i will put the hactoberfest-accepted tag

[2022-09-29 14:11] kunaaal13 commented on #25
Okay great I'll be working on this

[2022-09-30 10:17] hs05june opened #26 "Copy Multiple Emojies at a time"
We can copy only one emoji at a time. I will make few changes in the code which allows to select and copy multiple emojies at the same time.

[2022-09-30 11:32] Substancia commented on #21
Yes, but beforehand, do we have a discord/slack server for communication? I might have a handful of suggestions ranging outside this issue, like say code structure. These are mere suggestions btw, I can live without these too.

[2022-09-30 13:06] aditya-singh9 commented on #21
Yes i have my discord id  "Sean wood#6410"
You can reach out to me here.

[2022-09-30 14:27] ArunBohra12 commented on #24
Hi,

I have done some work and made the search bar look like it does in the following images. Can you please check it and let me know your thoughts about it?

The `Press / to jump to search box` popup only appears when the user is not focused on the search and types something.

<img src="https://user-images.githubusercontent.com/94133102/193291196-31d03acc-983f-4194-9d5f-9e91b7189b3e.png" width="4

[2022-09-30 14:33] aditya-singh9 commented on #24
It looks really good.

[2022-09-30 14:37] ArunBohra12 commented on #24
Not yet.

[2022-09-30 14:52] ArunBohra12 commented on #24
#27 Created a pull request for this.

[2022-09-30 15:06] #24 closed

[2022-09-30 19:29] #23 closed

[2022-10-01 03:17] Rudresh-pandey commented on #21
**Hi, i have some idea's :**

1. Adding Shadow color (#ffc83d) same as the light theme toggle button :-
![image](https://user-images.githubusercontent.com/96531798/193384147-fa386823-b0f6-46be-b8c4-2e6c6ecf03fd.png)

2. changing the scroll-bar / scroll-bar thumb :-
  **Light- theme :**
![image](https://user-images.githubusercontent.com/96531798/193384316-32b05f51-9476-481d-99e4-5f410aa507b1.png)

[2022-10-01 03:29] Rudresh-pandey opened #30 "Adding all the missing emoji's in data.json"
**### Flags of different countries :**
![image](https://user-images.githubusercontent.com/96531798/193385627-61cf858d-dc6f-4ba9-a2e6-26132ca72c30.png)

_**What we have to do in this ?**_
![image](https://user-images.githubusercontent.com/96531798/193385677-2c623f45-4853-4ada-93bd-e0c7f4e33d05.png)

[2022-10-01 04:21] Nogueira-lucas opened #31 "UI improvement for "emoji cards" in mobile shape"
The screen UI on mobile shape this cards are not so accessible. My suggestion is to make those bigger for make screen more style and usual.

![KekFinder](https://user-images.githubusercontent.com/20306466/193392166-ab15214f-574c-4f5d-9027-9818c672277e.png)

[2022-10-01 05:03] Nogueira-lucas opened #32 "Google Lighthouse - SEO improvement"
Improve performance issue evaluation to gain SEO.
![KekFinder](https://user-images.githubusercontent.com/20306466/193393435-8323cbe6-389f-4325-9a45-5574fa73811b.png)

[2022-10-01 05:50] YasirObaibullah99 opened #33 "Contributions in readme"
I can add top Contributions to the website and project admin in the readme section

[2022-10-01 05:53] YasirObaibullah99 opened #34 "Footer in website"
I can add a footer to the website which will make the website more attractive and which will make a complete website

[2022-10-01 06:33] shraddha15-creator opened #35 "All emoji if nothing searched"
I would like to contribute on this issue, when user lands on the website it will show all the emojis if nothing is searched.

[2022-10-01 07:56] #30 closed

[2022-10-01 11:59] hs05june commented on #26
Hey! Done with the job. Kindly review and accept my pr

[2022-10-01 12:06] #26 closed

[2022-10-01 12:37] Substancia commented on #21
I would suggest that when there's no search phrase in the search field, instead of leaving the emoji results field empty, we could have a "recent emojis" list but with a weighted distribution regarding how often an emoji is searched for?

Also wasn't this issue assigned to me earlier? Why the change in assignee?

[2022-10-01 12:57] aditya-singh9 commented on #21
Yeah, i think @Substancia idea is more appealing and as earlier, he asked me to assign it to him. I think i should remove @Rudresh-pandey as assignee and put @Substancia there.

@Rudresh-pandey you can add something new and open an issue about it.

[2022-10-01 12:58] aditya-singh9 opened #37 "**Hi, i have some idea's :**"
**Hi, i have some idea's :**

1. Adding Shadow color (#ffc83d) same as the light theme toggle button :-
![image](https://user-images.githubusercontent.com/96531798/193384147-fa386823-b0f6-46be-b8c4-2e6c6ecf03fd.png)

2. changing the scroll-bar / scroll-bar thumb :-
  **Light- theme :**
![image](https://user-images.githubusercontent.com/96531798/193384316-32b05f51-9476-481d-99e4-5f410aa507b1.png)

[2022-10-01 13:01] aditya-singh9 commented on #21
@Rudresh-pandey i have opened a new issue about you adding new emojis and shadow stuff, please respond in that thread with a confirmation so that i can assign it to you.

[2022-10-01 13:06] Substancia commented on #21
This enhancement would also cover the feature to be in dark mode as well (maybe except for some dark theme styling mismatches, which we can discuss if and when it arises). Will raise a PR soon.

On a different note, I'm new to contributing to massively contributed open-source projects like in Hacktoberfest (so please bare with me). I saw somewhere that I'll need to fork the repo and work instead o

[2022-10-01 13:23] aditya-singh9 commented on #21
Creating a fork is best practises the maintainer can track the progress too

I would suggest you to make a fork and then do the changes and then create a pr.

[2022-10-01 13:50] chiggshiggs opened #38 "Repo needs a Contributing.md file!"
Hi according to Hacktoberfest guidelines, every repo need to have a contributing.md file, please allow me to add one, and kickstart my open source journey. It will be a great motivation if you allow to.

[2022-10-01 16:48] Substancia commented on #21
@aditya-singh9 I have implemented a recent emojis suggestion when the search bar is empty. Changes are currently in my forked repo branch https://github.com/Substancia/kekfinder/commit/fa77b8666ea48c65521423f2678c091ad97b71c0. Please take a look and let me know of any changes needed.

As for the "weighted recents" idea, where more frequently searched emojis appear higher in the list, it's not impl

[2022-10-01 16:54] Substancia opened #41 "Code restructuring"
The code files need to be restructured for better readability (especially in the future when more files are created). Basically different components (js files and their supporting files like css) need to go into a folder, so that the containers folder has only folders in it. This helps compartmentalise the code better.

[2022-10-01 16:59] Substancia commented on #41
If you're creating new files, please put them in respective new folders INSIDE "components" folder from now on. And to make changes to existing files, please let me know when no one is doing critical work, to avoid merge conflicts and breaking changes.

cc:// @chiggshiggs @aditya-singh9  @YasirObaibullah99 @Nogueira-lucas @kunaaal13

[2022-10-01 17:01] aditya-singh9 commented on #21
I guess we can make two rows
In the 1st row there can be the emojis which are frequently copied or searched.

In the 2nd row there can be the emojis which are recently searched or copied

We do not need to label the rows ase recent or frequent, that would be irrelevant.

We can discuss the order of rows (which row comes first) later.

You can give suggestions to the order by providing some reasoni

[2022-10-01 17:05] #38 closed

[2022-10-01 17:06] aditya-singh9 commented on #25
Already working on this .

[2022-10-01 17:06] #25 closed

[2022-10-01 17:07] aditya-singh9 commented on #35
https://github.com/aditya-singh9/kekfinder/issues/21

[2022-10-01 17:07] #35 closed

[2022-10-01 17:08] aditya-singh9 commented on #32
Are you working on this?

[2022-10-01 17:09] #22 closed

[2022-10-01 17:09] Rudresh-pandey commented on #37
hello , you can assign it to me

[2022-10-01 17:20] Substancia commented on #21
I'm not sure how "recently searched" emojis row can work, since we search just the keywords and each keyword maps to multiple emojis (eg.: searching "fir" gives us emojis of fire and firetrucks etc.). Once I get a clearer idea, I can implement it. Can you give a bit more details?

P.S.: I forgot to ask earlier, when search bar is empty, the max number of suggested emojis is currently set to 4 (in

[2022-10-01 17:26] Nogueira-lucas commented on #32
yeah, I will to PR that soon.

[2022-10-01 17:27] Nogueira-lucas commented on #31
may I work that issue?

[2022-10-01 17:30] aditya-singh9 commented on #21
Instead of recent searched can you do it for recent used? Or frequently used

Iguess we should do only one, you can choose between recent used and frequently used, its upto you

I am also giving you the freedom of selecting the max number of suggested emojis.

[2022-10-01 17:30] aditya-singh9 commented on #31
Yep you can work on this

[2022-10-01 17:32] aditya-singh9 commented on #32
Okay, cool

And can you please look into https://github.com/aditya-singh9/kekfinder/issues/41

[2022-10-01 17:34] #37 closed

[2022-10-01 17:46] Substancia commented on #21
Alright, the current branch mentioned above has "recently used" list, and I'll do a research on good weighted methods for implementing "frequently used", will update you with my success/failure by tomorrow morning.

As for the max number of suggestions, I think 10 would be a good number, so going with that.

[2022-10-01 19:13] Substancia commented on #21
Weights have been implemented to frequently searched emojis in recent suggestions, https://github.com/Substancia/kekfinder/commit/e446f60d7711c8292f074be3351f6e946909d814

Basically every time an emoji is clicked, a weight of 5 is added to it, while all other emojis in recents list reduces weight by 1 (until it settles at weight 0, no lower). This way more frequently used emojis stay at top of rec

[2022-10-01 19:14] YasirObaibullah99 commented on #33
Hey I have added top contributors and project admin in readme So it's looking good or do I need to do any changes before PR
![Screenshot from 2022-10-02 00-37-54](https://user-images.githubusercontent.com/83706868/193424778-c1ffc23e-c421-45e9-b348-2f8f184b2dca.png)

[2022-10-01 20:07] mohakgupt opened #45 "Items selected textbox size and width"
When large number of emoji are selected the items selected box does not change its height and the excess emojis cut through the content below:
![image](https://user-images.githubusercontent.com/100181077/193426508-6392c91b-c28d-47d0-b3bf-0c3ef93960a9.png)
I would like to fix this under Hactoberfest 2022.

[2022-10-02 03:14] Rudresh-pandey opened #46 "New UI and searched results"
### Hi, the UI of KekFinder now looks odd to me , the searched items in a row are now only two and there is another feature of copying multiple emoji's which is great but now we have scroll more to find our desired emoji.

### **Current View :**
After adding the above feature ---
![image](https://user-images.githubusercontent.com/96531798/193435737-704a4751-356c-4376-bdc0-a49a25a94aa2.png)

_**Thi

[2022-10-02 03:52] Rudresh-pandey commented on #41
**Hello** , @Substancia as you have mentioned about restructuring of the current code base which will improve the readability , I have worked upon it and made separate folders for each of the features and also changes the respective file locations (path) .
.
.
**You can assign this issue to me and i will make a PR** :)

[2022-10-02 03:53] Nakamcode opened #47 "[FEATURE] Open graph"
### The website is missing an image on the open graph
![captures_chrome-capture-2022-9-2](https://user-images.githubusercontent.com/89482825/193436990-673a44be-7a4e-4b83-aa6c-c3f8709287c9.png)

### An open graph is a preview image that shows when a link is shared on social media

**for more info about open graphs read the blog below**
https://ahrefs.com/blog/open-graph-meta-tags/

[2022-10-02 03:59] Rudresh-pandey commented on #41
We should update the contributing.md

[2022-10-02 04:12] aditya-singh9 commented on #21
It isnt complicated and i appreciate your work

I am totally good with it

I think this pr and the pr with search bar stickness and some ui fixes has done some good to this project.
You can create a pr.
Thanks

[2022-10-02 04:14] aditya-singh9 commented on #33
Remove the projects admin thing

And keep thr contributor only and keep it at the end

You can think it yourself about where to keep it (not on top)

[2022-10-02 04:14] aditya-singh9 commented on #45
Okay, this will fix that bug.
I am aasigning it to you

[2022-10-02 04:17] YasirObaibullah99 commented on #33
ya that contributor part will be at on Booton after License I think that will be good

[2022-10-02 04:23] aditya-singh9 commented on #21
Hey
Can you please look into https://github.com/aditya-singh9/kekfinder/issues/46
And code the project accordingly

I kinda like this ui

Thanks

[2022-10-02 04:24] aditya-singh9 commented on #46
The part of, what to di when nothing is searched is being covered by another contributor so you dont have tk worry about that
You can start working on the ui fixes

[2022-10-02 04:26] aditya-singh9 commented on #47
You can add that thing
I am assigning it to you

[2022-10-02 04:27] Nakamcode commented on #47
sure, thanks

[2022-10-02 04:28] aditya-singh9 commented on #33
Think accordingly and create a pr

[2022-10-02 04:51] #47 closed

[2022-10-02 06:23] #33 closed

[2022-10-02 06:43] akshay399 opened #51 "Add a backspace button on text field"
I would like to add a backspace button here so when the user clicks it, the textfield is cleared.

<img width="409" alt="image" src="https://user-images.githubusercontent.com/55823965/193441561-fbce18fb-4cf5-4ba1-bcce-4e0f19949984.png">

[2022-10-02 06:59] #51 closed

[2022-10-02 06:59] aditya-singh9 commented on #51
I do not think that there is a need of that, we have backspace buttton on our mobile keyboards and laptop keyboards.

[2022-10-02 07:05] #31 closed

[2022-10-02 07:58] Substancia commented on #21
I'll sync the fork once and create a PR right away. As for [#46](https://github.com/aditya-singh9/kekfinder/issues/21#:~:text=please%20look%20into-,%2346,-And%20code%20the), I see it has already been assigned to someone. Let me know if you want me to take it up.

[2022-10-02 08:05] Rudresh-pandey commented on #46
working on UI :)

[2022-10-02 08:14] Rudresh-pandey commented on #41
**Should i make a PR of** :-

1.  Creating different folders which contains js and their respective css files
2.  Updating the contribution.md (adding necessary info about creating separate folders for each features made by the contributers)

[2022-10-02 08:54] deep-69bits opened #53 "Overflow of emoji's"
**BUG**
Overflow of emoji's as you see in video
**Reproduce**
Change in css to fix this bug

<img src="https://user-images.githubusercontent.com/96793524/193446155-dd53c1b4-1e9e-490e-b873-a0abebc64e67.gif" width="700" height="400" />

[2022-10-02 09:03] Substancia commented on #41
I had asked earlier about making this restructuring myself, had a chat with @aditya-singh9 , decided to wait till everyone's critical work are done to avoid merge conflicts for everyone.

I am very keen about this and would like to get on this (especially with my other issue closed I have bandwidth now to orchestrate with everyone individually), but I'll be good with whoever @aditya-singh9 assigns

[2022-10-02 09:14] Rudresh-pandey commented on #41
you can take this i am working on the UI part :)

[2022-10-02 09:19] aditya-singh9 commented on #41
I think i will assign it to @Substancia because he started this thread and thought of restructuring.

[2022-10-02 09:20] aditya-singh9 commented on #45
Are you working on this?

[2022-10-02 09:22] #21 closed

[2022-10-02 09:32] mohakgupt commented on #45
Yes 🙂

[2022-10-02 09:32] Substancia commented on #32
Hey @Nogueira-lucas is this a critical work, and if I proceed with https://github.com/aditya-singh9/kekfinder/issues/41, will it be breaking changes to your work?

[2022-10-02 09:33] Substancia commented on #34
Hey @YasirObaibullah99 is this a critical work, and if I proceed with https://github.com/aditya-singh9/kekfinder/issues/41, will it be breaking changes to your work?

[2022-10-02 09:33] Substancia commented on #45
Hey @mohakgupt is this a critical work, and if I proceed with https://github.com/aditya-singh9/kekfinder/issues/41, will it be breaking changes to your work?

[2022-10-02 09:34] Substancia commented on #46
Hey @Rudresh-pandey is this a critical work, and if I proceed with https://github.com/aditya-singh9/kekfinder/issues/41, will it be breaking changes to your work?

[2022-10-02 09:37] Rudresh-pandey commented on #46
Yes let me do the changes first .

[2022-10-02 09:37] aditya-singh9 commented on #53
https://github.com/aditya-singh9/kekfinder/issues/45

[2022-10-02 09:37] #53 closed

[2022-10-02 09:38] YasirObaibullah99 commented on #34
No you just tell me how you are doing in #41 it will not break

[2022-10-02 09:43] Substancia commented on #46
Sure. Let me know once you're done, and I'll proceed.

[2022-10-02 09:47] Substancia commented on #34
Sure. Basically the "components" folder will have only folders, each folder named different components (like items, search etc), and each folder will have the component files (js) and their supporting files like css (basically all files with same name goes in sane folder with that name).

If you're creating new component files, please follow this practice. I'll take care of converting the structur

[2022-10-02 09:51] Substancia commented on #34
Reference: https://github.com/Substancia/OneshotAI-MERN-client-webapp/

[2022-10-02 09:52] Substancia commented on #41
Example of what I'd like to implement: https://github.com/Substancia/OneshotAI-MERN-client-webapp/

[2022-10-02 09:56] YasirObaibullah99 commented on #34
Ya this is best practices for react js and go for it

[2022-10-02 11:27] mohakgupt commented on #45
Let me finish

[2022-10-02 11:31] Substancia opened #54 "Clear search keyword button in search bar"
Just a wild suggestion, should we add a clear button in the search bar to clear the keywords typed in the search bar? Sure we can always use backspace or drag click all text and delete, but since the search bar has space for this (and I personally find this helpful when using one-handed), maybe we can contemplate having one? Open to discuss.

<img width="602" alt="Screenshot 2022-10-02 at 16 50 50

[2022-10-02 11:31] mohakgupt commented on #45
https://user-images.githubusercontent.com/100181077/193451684-d767bfc2-29eb-4abc-abf0-52e050141540.mp4

How is this layout?

[2022-10-02 11:34] aditya-singh9 commented on #54
Hmmm, okay you can take this up

Btw can you think something about the copy multiple emojis textbox

The textbox just looks odd.
I would like to discuss this in new issue.

[2022-10-02 11:51] aditya-singh9 commented on #45
Bruh the new images of copy and delete made it look more ugly

Please let them be the way they were and make a pr about the original fix

[2022-10-02 12:33] Substancia commented on #54
I'll think of something and let you know. Meanwhile if you're looking for more heads to brainstorm for this, we can open this issue rn as "improve emoji textbox UI" or something.

Will get back to you once I'm back home.

[2022-10-02 13:32] Substancia opened #55 "Improve selected emoji textbox UI"
The textbox just looks odd.
I would like to discuss this in new issue.

_Originally posted by @aditya-singh9 in https://github.com/aditya-singh9/kekfinder/issues/54#issuecomment-1264621254_

Since we can't place a cursor in this textbox, this needn't be a textbox in my opinion. We can explore more designs, like say, a left aligned text "Selected emojis: " followed by the selected emojis list (the

[2022-10-02 13:53] aditya-singh9 commented on #55
Iguess i can go with it.

[2022-10-02 14:53] mohakgupt commented on #45
ok

[2022-10-02 15:18] Rudresh-pandey commented on #46
bhai , hum Ui improve kar diye h lekin ab ek do orr merge ho gaya ab kaise PR bheje

[2022-10-02 16:30] aditya-singh9 commented on #46
Iguess you have to sync your fork

Or i think make a new branch and push the changes to that branch and then create a pr

I do no know exactly what we have to do.

[2022-10-02 16:31] #45 closed

[2022-10-02 16:34] Substancia commented on #54
@aditya-singh9 how does this look? https://github.com/Substancia/kekfinder/tree/feature/search-clear-button

[2022-10-02 16:43] Substancia commented on #24
Looks like the stickiness is looking weird...

<img width="582" alt="Screenshot 2022-10-02 at 22 11 29" src="https://user-images.githubusercontent.com/27500147/193465797-b6fca2b0-af93-4dec-81e6-bfe27bccbbe3.png">

[2022-10-02 17:04] ArunBohra12 commented on #24
Do you have any solution to that or is it looking really bad and we should remove that?

[2022-10-02 17:05] Substancia commented on #24
Maybe just put a background layer to the sticky part and color the background similar to the page's background, left to right end?

[2022-10-02 17:18] Substancia commented on #55
https://github.com/Substancia/kekfinder/tree/feature/improve-selected-emoji-textbox-ui

@aditya-singh9 thoughts? It's minimalistic...

[2022-10-02 17:33] Substancia opened #58 "Hacktoberfest partipating?"
<img width="1113" alt="Screenshot 2022-10-02 at 23 00 55" src="https://user-images.githubusercontent.com/27500147/193467797-ece07a81-7ea2-4bd5-a49b-de3d9944da40.png">

Looks like this repo isn't participating in Hacktoberfest... @aditya-singh9 can you brief us about this?

[2022-10-02 17:43] Substancia commented on #58
I AM VERY SORRY, LOOKS LIKE THE NON-PARTICIPATING PR WAS ONE I MADE IN MY FORK CROSS-BRANCH.

Sorry for the confusion.

[2022-10-02 17:43] #58 closed

[2022-10-02 18:45] aditya-singh9 commented on #54
Can you please send a screenshot or a video about the end results.

[2022-10-02 18:46] #54 closed

[2022-10-02 18:48] aditya-singh9 commented on #55
Please attach an image or a video about the end results

[2022-10-02 19:11] Substancia commented on #54
<img width="605" alt="Screenshot 2022-10-03 at 00 40 03" src="https://user-images.githubusercontent.com/27500147/193471878-f8182697-d106-4f5e-88d0-ca7ccd6afab7.png">
<img width="650" alt="Screenshot 2022-10-03 at 00 40 15" src="https://user-images.githubusercontent.com/27500147/193471884-9a0b9c44-af3a-495d-9b66-47eaa9fcc7b0.png">

[2022-10-02 19:13] Substancia commented on #55
<img width="589" alt="Screenshot 2022-10-03 at 00 42 17" src="https://user-images.githubusercontent.com/27500147/193471971-1b9cd353-f71b-434b-a651-b74aeb824d1b.png">
<img width="620" alt="Screenshot 2022-10-03 at 00 42 47" src="https://user-images.githubusercontent.com/27500147/193471976-2f00ce5f-2f9c-4fd8-9101-7f6472b0ddd5.png">

"Selected emojis" text appears only if there are emojis selected.

[2022-10-02 19:25] Aryan-Srivastava opened #59 "[DOCS] - Constructive guide for first timers"
Updating readme.md file to be more helpful for first timers.

Setting up project using git on local machine.

[2022-10-02 20:15] Substancia opened #60 "Empty suggestions list during first time access in a machine"
When the app is used for the very first time, and nothing is typed in search bar, no emojis are shown. Instead maybe we can show all emojis ONLY during the first time loading? We can keep the frequently used emojis suggestions during subsequent uses.

[2022-10-02 20:23] Substancia opened #61 "Weird behaviour when deleting emojis after selecting (only specific emojis)"
Have a fire and star lined up
<img width="628" alt="Screenshot 2022-10-03 at 01 47 37" src="https://user-images.githubusercontent.com/27500147/193474596-55951997-5942-424d-87ba-63a149e6db30.png">

Hit delete one to remove star, and this happens
<img width="638" alt="Screenshot 2022-10-03 at 01 47 44" src="https://user-images.githubusercontent.com/27500147/193474601-e0fb1dcd-865e-4c82-8709-869eb83c

[2022-10-02 20:37] Nogueira-lucas commented on #32
No problem if you work on it mate. You can attent #41

[2022-10-02 21:58] Substancia commented on #41
@aditya-singh9 looks like coast is clear for this issue solving. Out of 4 currently active issues, 2 seem to be unaffected (as per their assignees), and 2 are mine with PRs up and ready to be merged. Once mine are merged, I can immediately get into this before someone starts another issue with critical work.

[2022-10-03 03:14] aditya-singh9 commented on #55
It seems cool
But what will happen if we scroll? Like will it be there or will it float like the search bar

And please do something about those copy and delete buttons
There color looks odd

[2022-10-03 03:15] aditya-singh9 commented on #60
I am good with it

[2022-10-03 03:16] aditya-singh9 commented on #61
I am not sure why it is happening
Can you try and solve

[2022-10-03 03:23] aditya-singh9 commented on #46
Did you fix it?

I wont merge anything from now till i merge your pr

[2022-10-03 04:46] YasirObaibullah99 commented on #41
@Substancia Have to done #41 issue then please merge it

[2022-10-03 05:28] Rudresh-pandey commented on #46
bro , ye changes nhi ho paaega kuki jab starting mai user enter karga tab emoji's 0 rahega or tab UI thik nhi laega

![image](https://user-images.githubusercontent.com/96531798/193507068-81b73245-249c-43ba-895a-dcd6a1dbb7b5.png)

isse leye close kar diye isko :) sorry message thoda late se kar rahe hai

[2022-10-03 06:07] aditya-singh9 commented on #46
It is being taken care by @Substancia at https://github.com/aditya-singh9/kekfinder/issues/60
so don't worry about it
make a pr

[2022-10-03 06:46] Rudresh-pandey commented on #46
bro wo tho tab show hoga jab user pahle se emoji's ko pahle se copy kiya ho

[2022-10-03 06:51] Substancia commented on #55
Currently the selected emojis section (if visible) will float like search bar, but that's also kinda looking weird because stickiness wasn't implemented with proper styling measures (mentioned [here](https://github.com/aditya-singh9/kekfinder/issues/24#issuecomment-1264684888)). Once that is done, this should look better.

As for the copy and delete buttons, I have a fair idea, will send a screens

[2022-10-03 06:55] Substancia commented on #61
I'll snoop around, and this looks like high priority too. So if we can have more testers testing this, we can describe the behaviour clearer, like why only few emojis cause this and which all. I'll take a look.

[2022-10-03 08:21] Substancia commented on #55
<img width="666" alt="Screenshot 2022-10-03 at 13 50 58" src="https://user-images.githubusercontent.com/27500147/193532074-a9565e9e-d910-4828-a385-da2bc20f41cb.png">

@aditya-singh9 thoughts?

[2022-10-03 08:25] Substancia commented on #55
<img width="630" alt="Screenshot 2022-10-03 at 13 54 30" src="https://user-images.githubusercontent.com/27500147/193532680-a77a5f8d-f0f2-4418-976a-bb497fd9f128.png">

Or maybe this (different delete icon)?

[2022-10-03 08:29] Substancia commented on #41
@YasirObaibullah99 sorry, did you mean that I wait till you finish your work? If so, when are you expecting to raise you PR?

[2022-10-03 08:36] Substancia commented on #61
Observation: This seems to happen only when we delete a star ⭐

<img width="630" alt="Screenshot 2022-10-03 at 13 54 30" src="https://user-images.githubusercontent.com/27500147/193534652-115f1674-a1e2-470f-9c1a-de7610c7e4de.png">
<img width="614" alt="Screenshot 2022-10-03 at 14 05 30" src="https://user-images.githubusercontent.com/27500147/193534686-a44aa92a-80c2-4d03-81fa-22e800414b18.png">

(Co

[2022-10-03 09:06] YasirObaibullah99 commented on #41
I have already raised the PR

[2022-10-03 09:08] Substancia commented on #60
Fixed. Raising a PR now.

<img width="950" alt="Screenshot 2022-10-03 at 14 36 25" src="https://user-images.githubusercontent.com/27500147/193540761-78dcbc78-9ef6-4c6b-b301-8d0b7df231ab.png">
<img width="901" alt="Screenshot 2022-10-03 at 14 36 43" src="https://user-images.githubusercontent.com/27500147/193540797-4aaa0fce-cc17-46cf-bb0d-fb47acc70c8f.png">
<img width="793" alt="Screenshot 2022-10-0

[2022-10-03 09:20] Substancia commented on #41
Cool, I'll wait till your PR is merged. Thanks.

[2022-10-03 09:34] Substancia commented on #24
@ArunBohra12 are you working on this?

[2022-10-03 10:06] Substancia commented on #61
Think I found the issue.
`ItemsSelected.js` has the delete function with line `    updateSelectedItems(selectedItems.substr(0, (selectedItems.length) - 2))`. I changed the 2 to 1, and following are the results as I click delete each time:-

<img width="658" alt="Screenshot 2022-10-03 at 15 28 31" src="https://user-images.githubusercontent.com/27500147/193551261-2868adc1-18cb-4dca-a704-17ada1fbf17f

[2022-10-03 10:25] ArunBohra12 commented on #24
As of now no!

[2022-10-03 10:37] Substancia opened #64 "Fix the sticky section styling"
Looks like the stickiness is looking weird...

<img width="582" alt="Screenshot 2022-10-02 at 22 11 29" src="https://user-images.githubusercontent.com/27500147/193465797-b6fca2b0-af93-4dec-81e6-bfe27bccbbe3.png">

_Originally posted by @Substancia in https://github.com/aditya-singh9/kekfinder/issues/24#issuecomment-1264684888_

[2022-10-03 15:03] ArunBohra12 commented on #64
I come up with the following image if you want some reference.

![image](https://user-images.githubusercontent.com/94133102/193610591-95887ae9-7de6-44f9-9fcb-4cac8f347fa5.png)

[2022-10-03 15:45] aditya-singh9 commented on #55
Seems good.

[2022-10-03 15:48] aditya-singh9 commented on #61
Cool, pls fix and make a pr

[2022-10-03 15:52] Substancia commented on #64
Tbh I'm not really feeling this, but what does @aditya-singh9 think?

[2022-10-03 15:53] aditya-singh9 commented on #64
@ArunBohra12 the texbox at the bottom looks ugly. Please suggest something else

[2022-10-03 15:55] #60 closed

[2022-10-03 15:56] Substancia commented on #55
[PR](https://github.com/aditya-singh9/kekfinder/pull/66) raised.

[2022-10-03 15:57] aditya-singh9 commented on #46
Now see the website.
Now it is showing

[2022-10-03 15:58] #55 closed

[2022-10-03 16:09] Rudresh-pandey commented on #46
On it sir ..
Great work everyone

[2022-10-03 16:12] Rudresh-pandey commented on #64
**I think #46 will solve the issue :-**
![image](https://user-images.githubusercontent.com/96531798/193435929-6e1a7cd9-0e56-4017-a596-544e454920b8.png)

[2022-10-03 16:42] aditya-singh9 commented on #46
Okay i wont merge anycode in this repo tmrw until your pr is made and merged

[2022-10-03 16:59] ArunBohra12 commented on #64
This one actually seems pretty nice to me!

[2022-10-03 17:01] aditya-singh9 commented on #64
Yep, so iguess i should close this issue
As this is being taken care of by @Rudresh-pandey at https://github.com/aditya-singh9/kekfinder/issues/46

[2022-10-03 17:40] #59 closed

[2022-10-03 18:00] Substancia commented on #34
@YasirObaibullah99 is this work done? Let me know once I can start with the code restructuring without affecting your work. Thanks.

[2022-10-03 18:05] YasirObaibullah99 commented on #34
Ya it merged now you can start your work

[2022-10-03 18:07] Substancia commented on #46
There shouldn't be any merge conflicts if we are periodically syncing our fork with the upstream (or original repo). Technically blocking other PRs isn't ideal and goes against the concept of Git, but since we don't have many critical works running in parallel right now, I guess this is doable.

My point is, please periodically sync your fork with the original repo to avoid merge conflicts, so oth

[2022-10-03 18:12] Substancia commented on #34
Awesome!

@aditya-singh9 @Rudresh-pandey since the [new UI work](https://github.com/aditya-singh9/kekfinder/issues/46) starts tomorrow and the [repo will be blocked](https://github.com/aditya-singh9/kekfinder/issues/46#issuecomment-1265693410) for the entire day, and since no critical work is being done right now, I'll do the code restructuring after my dinner. That cool?

[2022-10-03 19:24] aditya-singh9 commented on #34
Cool

[2022-10-03 20:06] Substancia commented on #41
@aditya-singh9 [PR](https://github.com/aditya-singh9/kekfinder/pull/68) has been raised. Added couple comments in PR to describe the changes made.

[2022-10-03 20:10] Substancia commented on #61
Since the repo will be blocked the entire day, I'll take a day off and come back to this once the new UI is implemented, that cool? I already have the logic figured out, will raise a PR right after merging the new UI PR.

[2022-10-04 04:22] aditya-singh9 commented on #46
@Rudresh-pandey now please sync the repo and then start working on it

[2022-10-04 04:35] aditya-singh9 commented on #61
Cool

[2022-10-04 08:23] Rudresh-pandey commented on #46
phone view wala code kidhr hai? desktop wala pe changes kiye tho mobile view wala change ho ja raha h uska code kaha hai?

[2022-10-04 08:25] aditya-singh9 commented on #46
What do you mean by the phone code?

I do not know where it is because i havent seen the project for 10month

It must be in some css file

[2022-10-04 08:28] Rudresh-pandey commented on #46
ok

[2022-10-04 09:30] soustab10 opened #69 "Show Emoji Name on hover"
### Emoji Name must appear on card on hover.
![image](https://user-images.githubusercontent.com/95632583/193785052-1c5f2d43-a7b8-42a1-ab7e-0283df1bd013.png)

This is especially useful for flag emojis where the emojis look almost the same.
![image](https://user-images.githubusercontent.com/95632583/193785458-96aa17bc-e60b-4c33-ac8a-f597e7036fd5.png)

If approved, I would like to work on this issue.

[2022-10-04 10:10] Substancia commented on #61
[PR](https://github.com/aditya-singh9/kekfinder/pull/70) has been raised for this fix, purely functional fix, can wait till the UI PR is merged, will not cause merge conflicts.

[2022-10-04 10:30] Substancia commented on #69
I like the idea, especially with the flag emojis and if people wanna reference a particular country but don't really know what their flag looks like. This could be a good addition.

But this enhancement does involve logic change beyond just adding a hover, like adding a new key to the emoji object entries, handling them in localstorage etc. If all these can be handled, all good. If this is being d

[2022-10-04 10:30] Rudresh-pandey commented on #46
**@aditya-singh9  bro  laptop ka screen mai thik dikh raha h ,**

https://user-images.githubusercontent.com/96531798/193795935-c9d59775-34a9-4589-966d-e2b081985c5d.mp4

**Lekin responsive nhi ho raha**

https://user-images.githubusercontent.com/96531798/193796047-48bf89e3-9848-45a3-b91b-6ad9b489ebd9.mp4

_Responsive hone ka code node modules mai hai usse kasie karte hai mujhe nhi pata_  i guess is

[2022-10-04 11:32] #61 closed

[2022-10-04 11:42] Substancia commented on #46
One way to tackle this is creating responsiveness using CSS media queries. You can define a screen width which differentiates different devices, and style the container accordingly for each screen.

As for mobile view, maybe we can stick with old design of having emojis below? In which case the [sticky section issue](https://github.com/aditya-singh9/kekfinder/issues/64) will be needed to be addres

[2022-10-04 11:44] aditya-singh9 commented on #46
How can the code of responsiveness be be in node modules

The code must be components folder. separate components have their separate css files, therefore the css of separate components will be in thier respective folders

[2022-10-04 11:44] #41 closed

[2022-10-04 11:45] aditya-singh9 commented on #46
Yes iguess in the mobile view, we should stick to the older design

[2022-10-04 12:08] ArunBohra12 commented on #46
Yes IMO, media queries will be the best.

[2022-10-04 12:10] ArunBohra12 commented on #46
Where do you see the code in node modules?

[2022-10-04 14:08] Rudresh-pandey commented on #46
![image](https://user-images.githubusercontent.com/96531798/193839043-0ba93865-7d97-42db-b128-f6a6bbe7f53a.png)

and ToastContainer using toastContainer.scss (**node modules -> react-toastify -> scss -> animations** )

[2022-10-04 14:29] Substancia commented on #46
These are certain default styles coming from certain packages, and are overridden by the css files that we define, don't have to worry about them IF you're writing the styles that we need (just pretend that the default media queries don't exist and start writing).

TL;DR: write your own media queries for responsiveness and these styles from node modules will disappear.

[2022-10-04 15:14] Rudresh-pandey commented on #46
ok thanks :)

[2022-10-04 17:01] aditya-singh9 commented on #69
If @soustab10 would like to work on @Substancia suggestions then i will assign it to @soustab10

[2022-10-04 18:00] Rudresh-pandey commented on #46
### **Have a look :-**

https://user-images.githubusercontent.com/96531798/193889062-9020a03c-d531-4388-9e46-b43258e78055.mp4

### **This will solve some issues :**

`1 . The text on the search bar is not visible completely`

**Old View:**
![image](https://user-images.githubusercontent.com/96531798/193889373-b5e1cea7-ed0f-4247-9c10-8667c5434740.png)

**New View:**
![image](https://user-images.gith

[2022-10-04 18:14] janmesh799 commented on #69
can i work on this project @aditya-singh9

[2022-10-04 18:45] aditya-singh9 commented on #69
You can absolutely work on this project by adding new features or solving bugs.

But you should not work on this issue as this is originally created by @soustab10 and i will not assign it to anyonelese until he agrees to

You can open a new issue, describing the stuff you want to work on

[2022-10-04 19:08] soustab10 commented on #69
I am willing to work on this. Thank you.

[2022-10-04 21:19] Substancia commented on #46
Good job @Rudresh-pandey.

https://github.com/aditya-singh9/kekfinder/issues/46#:~:text=2%20.%20The%20issue%20of%20the%20sticky%20search%20bar%20and%20multiple%20select%20feature(msf)%20%2D%20in%20desktop%20view%20.%0AWe%20dont%27t%20have%20to%20worry%20about%20the%20search%20bar%20and%20msf%20in%20mobile%20view%20because%20we%20have%20a%20feature%20ScrollToTop%20(see%20the%20video)

Tbh I'd prefe

[2022-10-05 01:22] Rudresh-pandey commented on #46
Yes we have to keep track of emoji's . Working on it :)

[2022-10-05 04:28] aditya-singh9 commented on #46
I really appreciate his work and i really like the ui too.

And for the stickness, i am not sure, what should we do.
Like should we keep it or remove it

[2022-10-05 07:42] Rudresh-pandey commented on #46
Can i merge the current code then we should have a discussion whether to keep the MSF or not .
:)

[2022-10-05 09:18] aditya-singh9 commented on #46
Yes, please merge the current code.

And about the stickness it will be taken care in new pr and we can have discussion about it in https://github.com/aditya-singh9/kekfinder/issues/64

[2022-10-05 10:23] #46 closed

[2022-10-05 12:46] Substancia commented on #34
Why are we using an entire library (cdbreact) just for the footer? Couldn't we have just coded a footer component manually? An additional package means higher vulnerability risk in the future.

Also the footer is [misbehaving](https://github.com/aditya-singh9/kekfinder/pull/70#issuecomment-1268308419).

[2022-10-05 13:08] Rudresh-pandey commented on #34
left-bottom in **desktop view**
bottom in **tablet and mobile view**

[2022-10-05 13:11] Rudresh-pandey commented on #34
i am not getting any of the footer issue in my local npm server

[2022-10-05 13:27] Substancia commented on #34
Sorry, my bad, I've got this particular issue [fixed](https://github.com/aditya-singh9/kekfinder/pull/70#issuecomment-1268430411), with a new question. Do we want the footer to stick to the bottom when emojis list is empty? Because that wasn't implemented.

[2022-10-05 13:32] Rudresh-pandey commented on #34
![image](https://user-images.githubusercontent.com/96531798/194073037-0b29ca8a-5658-44fe-bd96-833d58aa3661.png)
i have already implemented it

[2022-10-05 13:38] Rudresh-pandey commented on #34
![image](https://user-images.githubusercontent.com/96531798/194074321-9393fc32-a0e1-42fe-b330-7b87953a6a21.png)

[2022-10-05 14:09] Rudresh-pandey commented on #34
check this :- it was working when i made the pr
https://kekfinder-cnjf9wcez-aditya-singh9.vercel.app/

[2022-10-05 14:12] Rudresh-pandey commented on #34
ok now i understand , since i was using my laptop to see the progress i didn't check the height of the device that's why the footer is behaving like this , it's not a big issue

[2022-10-05 14:41] Rudresh-pandey commented on #34
i am just confused 😑, i don't know which property should i use to make this footer on the bottom of the screen

[2022-10-05 14:44] Rudresh-pandey commented on #34
yes i didn't considered the heights of the screen , i wasted a lot of time 😑 and didn't allow others to get there code merged

[2022-10-05 17:28] Substancia commented on #34
I did spend some time on this issue, and realized that the difficulty in this issue arises from the way the divisions and blocks are defined in the html code (basically the elements structure). To fix this, all I see are either do some nasty hacks (like force fixing heights of certain elements), or restructuring the elements altogether. If anyone can come up with a GOOD solution, I'll be very curi

[2022-10-06 03:20] Substancia commented on #34
[This](https://github.com/aditya-singh9/kekfinder/pull/73) is what I came up with, simple change, works fine. Please do some edge-testing.
@aditya-singh9 @Rudresh-pandey

[2022-10-08 12:26] Substancia commented on #69
@soustab10 are you working on this?

[2022-10-10 05:25] aditya-singh9 commented on #69
It not responding in 5days you are off

[2022-10-13 10:25] Substancia commented on #69
Tbh I don't think I have the patience or time to add a new field to every object in the JSON file, so I'm not actively taking responsibility for this. Since the issue opener @soustab10 is non-responding, it's up to you whether to keep this issue open for someone else, or closing as not planned.

[2022-10-13 10:26] Substancia commented on #64
So what are our views on how we want to implement the sticky search bar in different screens?

[2022-10-13 14:45] Rudresh-pandey commented on #64
I have been searching some different sites to get some idea , but i didn't get anything which will fit this issue .

this site : [tools.pics](https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjd_JTIt936AhUlmWYCHWJ6C8cYABAAGgJzbQ&ohost=www.google.com&cid=CAESbeD2dWNngveJZyJZ3cFdqs5fattoOaNY2tOCR1AtpEjy8Fhs8VkDvSKwTZ4ge4yWdxA_tOkN7TV074Ml6B8gwuFcdJPR5iXjW_lU0VIxbivLYAe1OSZcHixcEynP0uFxZCLE

[2022-10-13 14:47] #69 closed

[2022-10-18 05:09] boltkk95 commented on #64
i started working on this

[2022-10-20 19:37] Substancia commented on #64
@aditya-singh9 I'm friends with this developer, so I can help overlook this PR development and mentor them.